<%- include header %>
<nav class="navbar navbar-default" role="navigation">
    <div class="row">
        <div class="col-md-2">我是导航</div>
        <div class="col-md-7">我是内容</div>
        <div class="col-md-3">我是尾部</div>
    </div>
</nav>
<%- include footer %>