<%- include top %>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-hearder">
           <a href="../" class="navbar-brand">Money</a>
      </div>
       <div class="navbar-hearder">
           <a href="../" class="navbar-brand">首页</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                广场
                <b class="carte"></b>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="/baike">行情</a></li>
                  <li><a href="/baike">行情</a></li>
                  <li><a href="/baike">行情</a></li>
                  <li><a href="/baike">行情</a></li>
              </ul>
          </li>
          <li>
            <a href="../components">设置</a>
          </li>
          <li>
            <a href="../components">设置</a>
          </li>
          <li>
            <a href="../components">设置</a>
          </li>
          <li>
            <a href="../components">设置</a>
          </li>
        </ul>
      </div>
      </div>
  </nav>

  <%- include footer %>